
<!-- saved from url=(0051)file:///C:/Users/Jusef/Desktop/Jasmine%20suite.html -->
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Evernote Export</title>
  <basefont face="Tahoma" size="2">

  <meta name="exporter-version" content="Evernote Windows/268917 (en-US); Windows/6.1.7601 Service Pack 1;">
  <style>
      body, td {
          font-family: Tahoma;
          font-size: 10pt;
      }
  </style>
</head>
<body>
<div><a name="6824">
</a><div><a name="6824"><br clear="none"></a><div style="position: relative"><a name="6824"></a><div style="font-size: 16px"><a name="6824"></a><div><a name="6824"></a><div style="background-color:rgb(238, 238, 238);overflow-y:scroll;"><a name="6824">
  <div></div>


  <div style="font-size:11px;font-family:Monaco, &#39;Lucida Console&#39;, monospace;line-height:14px;color:rgb(51, 51, 51);"><div style="padding-left:9px;padding-right:9px;margin-top:14px;"><span>Jasmine </span><span style="color:rgb(170, 170, 170);">1.3.1 revision 1354556913</span></div><ul style="padding-left:9px;padding-right:9px;overflow:hidden;margin:14px 0px;"><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:16px;line-height:11px;"><span style="font-size:16px;line-height:11px;color:rgb(170, 170, 170);">-</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:16px;line-height:11px;"><span style="font-size:16px;line-height:11px;color:rgb(170, 170, 170);">-</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:16px;line-height:11px;"><span style="font-size:16px;line-height:11px;color:rgb(170, 170, 170);">-</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:16px;line-height:11px;"><span style="font-size:16px;line-height:11px;color:rgb(170, 170, 170);">-</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:16px;line-height:11px;"><span style="font-size:16px;line-height:11px;color:rgb(170, 170, 170);">-</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:16px;line-height:11px;"><span style="font-size:16px;line-height:11px;color:rgb(170, 170, 170);">-</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:16px;line-height:11px;"><span style="font-size:16px;line-height:11px;color:rgb(170, 170, 170);">-</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:16px;line-height:11px;"><span style="font-size:16px;line-height:11px;color:rgb(170, 170, 170);">-</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:16px;line-height:11px;"><span style="font-size:16px;line-height:11px;color:rgb(170, 170, 170);">-</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:16px;line-height:11px;"><span style="font-size:16px;line-height:11px;color:rgb(170, 170, 170);">-</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:16px;line-height:11px;"><span style="font-size:16px;line-height:11px;color:rgb(170, 170, 170);">-</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:16px;line-height:11px;"><span style="font-size:16px;line-height:11px;color:rgb(170, 170, 170);">-</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:16px;line-height:11px;"><span style="font-size:16px;line-height:11px;color:rgb(170, 170, 170);">-</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:16px;line-height:11px;"><span style="font-size:16px;line-height:11px;color:rgb(170, 170, 170);">-</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:16px;line-height:11px;"><span style="font-size:16px;line-height:11px;color:rgb(170, 170, 170);">-</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:16px;line-height:11px;"><span style="font-size:16px;line-height:11px;color:rgb(170, 170, 170);">-</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:16px;line-height:11px;"><span style="font-size:16px;line-height:11px;color:rgb(170, 170, 170);">-</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:16px;line-height:11px;"><span style="font-size:16px;line-height:11px;color:rgb(170, 170, 170);">-</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:16px;line-height:11px;"><span style="font-size:16px;line-height:11px;color:rgb(170, 170, 170);">-</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:16px;line-height:11px;"><span style="font-size:16px;line-height:11px;color:rgb(170, 170, 170);">-</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:16px;line-height:11px;"><span style="font-size:16px;line-height:11px;color:rgb(170, 170, 170);">-</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:16px;line-height:11px;"><span style="font-size:16px;line-height:11px;color:rgb(170, 170, 170);">-</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:16px;line-height:11px;"><span style="font-size:16px;line-height:11px;color:rgb(170, 170, 170);">-</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:16px;line-height:11px;"><span style="font-size:16px;line-height:11px;color:rgb(170, 170, 170);">-</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:16px;line-height:11px;"><span style="font-size:16px;line-height:11px;color:rgb(170, 170, 170);">-</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:16px;line-height:11px;"><span style="font-size:16px;line-height:11px;color:rgb(170, 170, 170);">-</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:16px;line-height:11px;"><span style="font-size:16px;line-height:11px;color:rgb(170, 170, 170);">-</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:16px;line-height:11px;"><span style="font-size:16px;line-height:11px;color:rgb(170, 170, 170);">-</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:16px;line-height:11px;"><span style="font-size:16px;line-height:11px;color:rgb(170, 170, 170);">-</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:16px;line-height:11px;"><span style="font-size:16px;line-height:11px;color:rgb(170, 170, 170);">-</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:16px;line-height:11px;"><span style="font-size:16px;line-height:11px;color:rgb(170, 170, 170);">-</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:16px;line-height:11px;"><span style="font-size:16px;line-height:11px;color:rgb(170, 170, 170);">-</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:16px;line-height:11px;"><span style="font-size:16px;line-height:11px;color:rgb(170, 170, 170);">-</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:16px;line-height:11px;"><span style="font-size:16px;line-height:11px;color:rgb(170, 170, 170);">-</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:16px;line-height:11px;"><span style="font-size:16px;line-height:11px;color:rgb(170, 170, 170);">-</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:16px;line-height:11px;"><span style="font-size:16px;line-height:11px;color:rgb(170, 170, 170);">-</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:16px;line-height:11px;"><span style="font-size:16px;line-height:11px;color:rgb(170, 170, 170);">-</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:16px;line-height:11px;"><span style="font-size:16px;line-height:11px;color:rgb(170, 170, 170);">-</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:16px;line-height:11px;"><span style="font-size:16px;line-height:11px;color:rgb(170, 170, 170);">-</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:16px;line-height:11px;"><span style="font-size:16px;line-height:11px;color:rgb(170, 170, 170);">-</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:16px;line-height:11px;"><span style="font-size:16px;line-height:11px;color:rgb(170, 170, 170);">-</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:16px;line-height:11px;"><span style="font-size:16px;line-height:11px;color:rgb(170, 170, 170);">-</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:16px;line-height:11px;"><span style="font-size:16px;line-height:11px;color:rgb(170, 170, 170);">-</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:16px;line-height:11px;"><span style="font-size:16px;line-height:11px;color:rgb(170, 170, 170);">-</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:16px;line-height:11px;"><span style="font-size:16px;line-height:11px;color:rgb(170, 170, 170);">-</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:16px;line-height:11px;"><span style="font-size:16px;line-height:11px;color:rgb(170, 170, 170);">-</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:16px;line-height:11px;"><span style="font-size:16px;line-height:11px;color:rgb(170, 170, 170);">-</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:16px;line-height:11px;"><span style="font-size:16px;line-height:11px;color:rgb(170, 170, 170);">-</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:16px;line-height:11px;"><span style="font-size:16px;line-height:11px;color:rgb(170, 170, 170);">-</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:16px;line-height:11px;"><span style="font-size:16px;line-height:11px;color:rgb(170, 170, 170);">-</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:16px;line-height:11px;"><span style="font-size:16px;line-height:11px;color:rgb(170, 170, 170);">-</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:16px;line-height:11px;"><span style="font-size:16px;line-height:11px;color:rgb(170, 170, 170);">-</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:16px;line-height:11px;"><span style="font-size:16px;line-height:11px;color:rgb(170, 170, 170);">-</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:16px;line-height:11px;"><span style="font-size:16px;line-height:11px;color:rgb(170, 170, 170);">-</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:16px;line-height:11px;"><span style="font-size:16px;line-height:11px;color:rgb(170, 170, 170);">-</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:16px;line-height:11px;"><span style="font-size:16px;line-height:11px;color:rgb(170, 170, 170);">-</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:16px;line-height:11px;"><span style="font-size:16px;line-height:11px;color:rgb(170, 170, 170);">-</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:16px;line-height:11px;"><span style="font-size:16px;line-height:11px;color:rgb(170, 170, 170);">-</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:16px;line-height:11px;"><span style="font-size:16px;line-height:11px;color:rgb(170, 170, 170);">-</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:16px;line-height:11px;"><span style="font-size:16px;line-height:11px;color:rgb(170, 170, 170);">-</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:16px;line-height:11px;"><span style="font-size:16px;line-height:11px;color:rgb(170, 170, 170);">-</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:16px;line-height:11px;"><span style="font-size:16px;line-height:11px;color:rgb(170, 170, 170);">-</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:16px;line-height:11px;"><span style="font-size:16px;line-height:11px;color:rgb(170, 170, 170);">-</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:16px;line-height:11px;"><span style="font-size:16px;line-height:11px;color:rgb(170, 170, 170);">-</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:16px;line-height:11px;"><span style="font-size:16px;line-height:11px;color:rgb(170, 170, 170);">-</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:16px;line-height:11px;"><span style="font-size:16px;line-height:11px;color:rgb(170, 170, 170);">-</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:16px;line-height:11px;"><span style="font-size:16px;line-height:11px;color:rgb(170, 170, 170);">-</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:16px;line-height:11px;"><span style="font-size:16px;line-height:11px;color:rgb(170, 170, 170);">-</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:16px;line-height:11px;"><span style="font-size:16px;line-height:11px;color:rgb(170, 170, 170);">-</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:16px;line-height:11px;"><span style="font-size:16px;line-height:11px;color:rgb(170, 170, 170);">-</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:16px;line-height:11px;"><span style="font-size:16px;line-height:11px;color:rgb(170, 170, 170);">-</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:16px;line-height:11px;"><span style="font-size:16px;line-height:11px;color:rgb(170, 170, 170);">-</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:16px;line-height:11px;"><span style="font-size:16px;line-height:11px;color:rgb(170, 170, 170);">-</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:16px;line-height:11px;"><span style="font-size:16px;line-height:11px;color:rgb(170, 170, 170);">-</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:16px;line-height:11px;"><span style="font-size:16px;line-height:11px;color:rgb(170, 170, 170);">-</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:16px;line-height:11px;"><span style="font-size:16px;line-height:11px;color:rgb(170, 170, 170);">-</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:16px;line-height:11px;"><span style="font-size:16px;line-height:11px;color:rgb(170, 170, 170);">-</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:16px;line-height:11px;"><span style="font-size:16px;line-height:11px;color:rgb(170, 170, 170);">-</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:16px;line-height:11px;"><span style="font-size:16px;line-height:11px;color:rgb(170, 170, 170);">-</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:16px;line-height:11px;"><span style="font-size:16px;line-height:11px;color:rgb(170, 170, 170);">-</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:16px;line-height:11px;"><span style="font-size:16px;line-height:11px;color:rgb(170, 170, 170);">-</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:16px;line-height:11px;"><span style="font-size:16px;line-height:11px;color:rgb(170, 170, 170);">-</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:16px;line-height:11px;"><span style="font-size:16px;line-height:11px;color:rgb(170, 170, 170);">-</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:16px;line-height:11px;"><span style="font-size:16px;line-height:11px;color:rgb(170, 170, 170);">-</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:16px;line-height:11px;"><span style="font-size:16px;line-height:11px;color:rgb(170, 170, 170);">-</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:16px;line-height:11px;"><span style="font-size:16px;line-height:11px;color:rgb(170, 170, 170);">-</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:16px;line-height:11px;"><span style="font-size:16px;line-height:11px;color:rgb(170, 170, 170);">-</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:16px;line-height:11px;"><span style="font-size:16px;line-height:11px;color:rgb(170, 170, 170);">-</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:16px;line-height:11px;"><span style="font-size:16px;line-height:11px;color:rgb(170, 170, 170);">-</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:16px;line-height:11px;"><span style="font-size:16px;line-height:11px;color:rgb(170, 170, 170);">-</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:16px;line-height:11px;"><span style="font-size:16px;line-height:11px;color:rgb(170, 170, 170);">-</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:16px;line-height:11px;"><span style="font-size:16px;line-height:11px;color:rgb(170, 170, 170);">-</span></li></ul><div><span style="color:rgb(255, 255, 255);float:right;margin-top:5px;margin-right:5px;"><span>No try/catch</span></span></div><div style="margin-top:14px;"><div style="padding-left:9px;padding-right:9px;margin-top:14px;"></div></div></div></a><div style="font-size:11px;font-family:Monaco, &#39;Lucida Console&#39;, monospace;line-height:14px;color:rgb(51, 51, 51);"><a name="6824"><div style="padding-left:9px;padding-right:9px;margin-top:14px;"><span>Jasmine </span><span style="color:rgb(170, 170, 170);">1.3.1 revision 1354556913</span><span style="color:rgb(170, 170, 170);float:right;">finished in 1.672s</span></div><ul style="padding-left:9px;padding-right:9px;overflow:hidden;margin:14px 0px;"><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:14px;"><span style="font-size:14px;color:rgb(94, 125, 0);">•</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:14px;"><span style="font-size:14px;color:rgb(94, 125, 0);">•</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:14px;"><span style="font-size:14px;color:rgb(94, 125, 0);">•</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:14px;"><span style="font-size:14px;color:rgb(94, 125, 0);">•</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:14px;"><span style="font-size:14px;color:rgb(94, 125, 0);">•</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:14px;"><span style="font-size:14px;color:rgb(94, 125, 0);">•</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:14px;"><span style="font-size:14px;color:rgb(94, 125, 0);">•</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:14px;"><span style="font-size:14px;color:rgb(94, 125, 0);">•</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:14px;"><span style="font-size:14px;color:rgb(94, 125, 0);">•</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:14px;"><span style="font-size:14px;color:rgb(94, 125, 0);">•</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:14px;"><span style="font-size:14px;color:rgb(94, 125, 0);">•</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:14px;"><span style="font-size:14px;color:rgb(94, 125, 0);">•</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:14px;"><span style="font-size:14px;color:rgb(94, 125, 0);">•</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:14px;"><span style="font-size:14px;color:rgb(94, 125, 0);">•</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:14px;"><span style="font-size:14px;color:rgb(94, 125, 0);">•</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:14px;"><span style="font-size:14px;color:rgb(94, 125, 0);">•</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:14px;"><span style="font-size:14px;color:rgb(94, 125, 0);">•</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:14px;"><span style="font-size:14px;color:rgb(94, 125, 0);">•</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:14px;"><span style="font-size:14px;color:rgb(94, 125, 0);">•</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:14px;"><span style="font-size:14px;color:rgb(94, 125, 0);">•</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:14px;"><span style="font-size:14px;color:rgb(94, 125, 0);">•</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:14px;"><span style="font-size:14px;color:rgb(94, 125, 0);">•</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:14px;"><span style="font-size:14px;color:rgb(94, 125, 0);">•</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:14px;"><span style="font-size:14px;color:rgb(94, 125, 0);">•</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:14px;"><span style="font-size:14px;color:rgb(94, 125, 0);">•</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:14px;"><span style="font-size:14px;color:rgb(94, 125, 0);">•</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:14px;"><span style="font-size:14px;color:rgb(94, 125, 0);">•</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:14px;"><span style="font-size:14px;color:rgb(94, 125, 0);">•</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:14px;"><span style="font-size:14px;color:rgb(94, 125, 0);">•</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:14px;"><span style="font-size:14px;color:rgb(94, 125, 0);">•</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:14px;"><span style="font-size:14px;color:rgb(94, 125, 0);">•</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:14px;"><span style="font-size:14px;color:rgb(94, 125, 0);">•</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:14px;"><span style="font-size:14px;color:rgb(94, 125, 0);">•</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:14px;"><span style="font-size:14px;color:rgb(94, 125, 0);">•</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:14px;"><span style="font-size:14px;color:rgb(94, 125, 0);">•</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:14px;"><span style="font-size:14px;color:rgb(94, 125, 0);">•</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:14px;"><span style="font-size:14px;color:rgb(94, 125, 0);">•</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:14px;"><span style="font-size:14px;color:rgb(94, 125, 0);">•</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:14px;"><span style="font-size:14px;color:rgb(94, 125, 0);">•</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:14px;"><span style="font-size:14px;color:rgb(94, 125, 0);">•</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:14px;"><span style="font-size:14px;color:rgb(94, 125, 0);">•</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:14px;"><span style="font-size:14px;color:rgb(94, 125, 0);">•</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:14px;"><span style="font-size:14px;color:rgb(94, 125, 0);">•</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:14px;"><span style="font-size:14px;color:rgb(94, 125, 0);">•</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:14px;"><span style="font-size:14px;color:rgb(94, 125, 0);">•</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:14px;"><span style="font-size:14px;color:rgb(94, 125, 0);">•</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:14px;"><span style="font-size:14px;color:rgb(94, 125, 0);">•</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:14px;"><span style="font-size:14px;color:rgb(94, 125, 0);">•</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:14px;"><span style="font-size:14px;color:rgb(94, 125, 0);">•</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:14px;"><span style="font-size:14px;color:rgb(94, 125, 0);">•</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:14px;"><span style="font-size:14px;color:rgb(94, 125, 0);">•</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:14px;"><span style="font-size:14px;color:rgb(94, 125, 0);">•</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:14px;"><span style="font-size:14px;color:rgb(94, 125, 0);">•</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:14px;"><span style="font-size:14px;color:rgb(94, 125, 0);">•</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:14px;"><span style="font-size:14px;color:rgb(94, 125, 0);">•</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:14px;"><span style="font-size:14px;color:rgb(94, 125, 0);">•</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:14px;"><span style="font-size:14px;color:rgb(94, 125, 0);">•</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:14px;"><span style="font-size:14px;color:rgb(94, 125, 0);">•</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:14px;"><span style="font-size:14px;color:rgb(94, 125, 0);">•</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:14px;"><span style="font-size:14px;color:rgb(94, 125, 0);">•</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:14px;"><span style="font-size:14px;color:rgb(94, 125, 0);">•</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:14px;"><span style="font-size:14px;color:rgb(94, 125, 0);">•</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:14px;"><span style="font-size:14px;color:rgb(94, 125, 0);">•</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:14px;"><span style="font-size:14px;color:rgb(94, 125, 0);">•</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:14px;"><span style="font-size:14px;color:rgb(94, 125, 0);">•</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:14px;"><span style="font-size:14px;color:rgb(94, 125, 0);">•</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:14px;"><span style="font-size:14px;color:rgb(94, 125, 0);">•</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:14px;"><span style="font-size:14px;color:rgb(94, 125, 0);">•</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:14px;"><span style="font-size:14px;color:rgb(94, 125, 0);">•</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:14px;"><span style="font-size:14px;color:rgb(94, 125, 0);">•</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:14px;"><span style="font-size:14px;color:rgb(94, 125, 0);">•</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:14px;"><span style="font-size:14px;color:rgb(94, 125, 0);">•</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:14px;"><span style="font-size:14px;color:rgb(94, 125, 0);">•</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:14px;"><span style="font-size:14px;color:rgb(94, 125, 0);">•</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:14px;"><span style="font-size:14px;color:rgb(94, 125, 0);">•</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:14px;"><span style="font-size:14px;color:rgb(94, 125, 0);">•</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:14px;"><span style="font-size:14px;color:rgb(94, 125, 0);">•</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:14px;"><span style="font-size:14px;color:rgb(94, 125, 0);">•</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:14px;"><span style="font-size:14px;color:rgb(94, 125, 0);">•</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:14px;"><span style="font-size:14px;color:rgb(94, 125, 0);">•</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:14px;"><span style="font-size:14px;color:rgb(94, 125, 0);">•</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:14px;"><span style="font-size:14px;color:rgb(94, 125, 0);">•</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:14px;"><span style="font-size:14px;color:rgb(94, 125, 0);">•</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:14px;"><span style="font-size:14px;color:rgb(94, 125, 0);">•</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:14px;"><span style="font-size:14px;color:rgb(94, 125, 0);">•</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:14px;"><span style="font-size:14px;color:rgb(94, 125, 0);">•</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:14px;"><span style="font-size:14px;color:rgb(94, 125, 0);">•</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:14px;"><span style="font-size:14px;color:rgb(94, 125, 0);">•</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:14px;"><span style="font-size:14px;color:rgb(94, 125, 0);">•</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:14px;"><span style="font-size:14px;color:rgb(94, 125, 0);">•</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:14px;"><span style="font-size:14px;color:rgb(94, 125, 0);">•</span></li><li style="display:block;float:left;height:7px;width:14px;margin-bottom:7px;font-size:14px;"><span style="font-size:14px;color:rgb(94, 125, 0);">•</span></li></ul><div><span style="color:rgb(255, 255, 255);float:right;margin-top:5px;margin-right:5px;"><span>No try/catch</span></span><span style="line-height:28px;font-size:14px;display:block;color:rgb(238, 238, 238);background-color:rgb(166, 183, 121);padding-left:9px;padding-right:9px;">Passing 93 specs</span></div></a><div style="margin-top:14px;"><a name="6824"></a><div style="padding-left:9px;padding-right:9px;margin-top:14px;"><a name="6824"></a><div style="margin-top:14px;"><a name="6824"><a href="http://localhost:8888/?spec=Story%20Board%20Collection" shape="rect" style="text-decoration:none;color:rgb(51, 51, 51);">Story Board Collection</a></a><div style="margin-left:14px;"><a name="6824"></a><a href="http://localhost:8888/?spec=Story%20Board%20Collection%20Finds%20a%20model%20by%20id." shape="rect" style="text-decoration:none;color:rgb(94, 125, 0);" title="Story Board Collection Finds a model by id.">Finds a model by id</a></div><div style="margin-left:14px;"><a href="http://localhost:8888/?spec=Story%20Board%20Collection%20Makes%20the%20correct%20request." shape="rect" style="text-decoration:none;color:rgb(94, 125, 0);" title="Story Board Collection Makes the correct request.">Makes the correct request</a></div><div style="margin-left:14px;"><a href="http://localhost:8888/?spec=Story%20Board%20Collection%20Sets%20a%20correct%20url." shape="rect" style="text-decoration:none;color:rgb(94, 125, 0);" title="Story Board Collection Sets a correct url.">Sets a correct url</a></div><div style="margin-left:14px;"><a href="http://localhost:8888/?spec=Story%20Board%20Collection%20Adds%20a%20model." shape="rect" style="text-decoration:none;color:rgb(94, 125, 0);" title="Story Board Collection Adds a model.">Adds a model</a></div></div><div style="margin-top:14px;"><a href="http://localhost:8888/?spec=StoryBoard%20Object%20Model" shape="rect" style="text-decoration:none;color:rgb(51, 51, 51);">StoryBoard Object Model</a><div style="margin-top:0px;margin-left:14px;"><a href="http://localhost:8888/?spec=StoryBoard%20Object%20Model%20On%20model%20change" shape="rect" style="text-decoration:none;color:rgb(51, 51, 51);">On model change</a><div style="margin-left:14px;"><a href="http://localhost:8888/?spec=StoryBoard%20Object%20Model%20On%20model%20change%20Triggers%20the%20onModelChanged%20function%20on%20change." shape="rect" style="text-decoration:none;color:rgb(94, 125, 0);" title="StoryBoard Object Model On model change Triggers the onModelChanged function on change.">Triggers the onModelChanged function on change</a></div></div><div style="margin-left:14px;"><a href="http://localhost:8888/?spec=StoryBoard%20Object%20Model%20Sends%20a%20valid%20request%20to%20the%20save%20StoryBoardObejct%20action%20for%20updates." shape="rect" style="text-decoration:none;color:rgb(94, 125, 0);" title="StoryBoard Object Model Sends a valid request to the save StoryBoardObejct action for updates.">Sends a valid request to the save StoryBoardObejct action for updates</a></div></div><div style="margin-top:14px;"><a href="http://localhost:8888/?spec=StoryBoard%20routes" shape="rect" style="text-decoration:none;color:rgb(51, 51, 51);">StoryBoard routes</a><div style="margin-top:0px;margin-left:14px;"><a href="http://localhost:8888/?spec=StoryBoard%20routes%20%23init_route" shape="rect" style="text-decoration:none;color:rgb(51, 51, 51);">#init_route</a><div style="margin-left:14px;"><a href="http://localhost:8888/?spec=StoryBoard%20routes%20%23init_route%20calls%20the%20intRoute%20method%20on%20navigating%20to%20%23init_route." shape="rect" style="text-decoration:none;color:rgb(94, 125, 0);" title="StoryBoard routes #init_route calls the intRoute method on navigating to #init_route.">calls the intRoute method on navigating to #init_route</a></div><div style="margin-left:14px;"><a href="http://localhost:8888/?spec=StoryBoard%20routes%20%23init_route%20gets%20the%20form%20objects%20for%20the%20story%20board%20form." shape="rect" style="text-decoration:none;color:rgb(94, 125, 0);" title="StoryBoard routes #init_route gets the form objects for the story board form.">gets the form objects for the story board form</a></div><div style="margin-left:14px;"><a href="http://localhost:8888/?spec=StoryBoard%20routes%20%23init_route%20fetches%20the%20story%20board%20object%20collection." shape="rect" style="text-decoration:none;color:rgb(94, 125, 0);" title="StoryBoard routes #init_route fetches the story board object collection.">fetches the story board object collection</a></div><div style="margin-left:14px;"><a href="http://localhost:8888/?spec=StoryBoard%20routes%20%23init_route%20calls%20the%20index%20function%20of%20the%20router%20to%20render%20the%20storyboard." shape="rect" style="text-decoration:none;color:rgb(94, 125, 0);" title="StoryBoard routes #init_route calls the index function of the router to render the storyboard.">calls the index function of the router to render the storyboard</a></div></div><div style="margin-top:14px;margin-left:14px;"><a href="http://localhost:8888/?spec=StoryBoard%20routes%20%23index%20hash" shape="rect" style="text-decoration:none;color:rgb(51, 51, 51);">#index hash</a><div style="margin-left:14px;"><a href="http://localhost:8888/?spec=StoryBoard%20routes%20%23index%20hash%20has%20a%20%22index%22%20route." shape="rect" style="text-decoration:none;color:rgb(94, 125, 0);" title="StoryBoard routes #index hash has a &#39;index&#39; route.">has a "index" route</a></div><div style="margin-left:14px;"><a href="http://localhost:8888/?spec=StoryBoard%20routes%20%23index%20hash%20fires%20the%20index%20route%20with%20a%20%23index%20hash." shape="rect" style="text-decoration:none;color:rgb(94, 125, 0);" title="StoryBoard routes #index hash fires the index route with a #index hash.">fires the index route with a #index hash</a></div><div style="margin-left:14px;"><a href="http://localhost:8888/?spec=StoryBoard%20routes%20%23index%20hash%20renders%20the%20StoryBoardHome%20view%20after%20fetch%20is%20completed." shape="rect" style="text-decoration:none;color:rgb(94, 125, 0);" title="StoryBoard routes #index hash renders the StoryBoardHome view after fetch is completed.">renders the StoryBoardHome view after fetch is completed</a></div></div><div style="margin-top:14px;margin-left:14px;"><a href="http://localhost:8888/?spec=StoryBoard%20routes%20%23update%2F%3Aobject_id%20hash" shape="rect" style="text-decoration:none;color:rgb(51, 51, 51);">#update/:object_id hash</a><div style="margin-left:14px;"><a href="http://localhost:8888/?spec=StoryBoard%20routes%20%23update%2F%3Aobject_id%20hash%20Instantiates%20the%20updateStoryBoardObject%20view." shape="rect" style="text-decoration:none;color:rgb(94, 125, 0);" title="StoryBoard routes #update/:object_id hash Instantiates the updateStoryBoardObject view.">Instantiates the updateStoryBoardObject view</a></div><div style="margin-left:14px;"><a href="http://localhost:8888/?spec=StoryBoard%20routes%20%23update%2F%3Aobject_id%20hash%20Fires%20the%20updateObject%20route%20with%20%23update%20hash." shape="rect" style="text-decoration:none;color:rgb(94, 125, 0);" title="StoryBoard routes #update/:object_id hash Fires the updateObject route with #update hash.">Fires the updateObject route with #update hash</a></div><div style="margin-left:14px;"><a href="http://localhost:8888/?spec=StoryBoard%20routes%20%23update%2F%3Aobject_id%20hash%20Finds%20the%20required%20model%20based%20on%20the%20model%20id." shape="rect" style="text-decoration:none;color:rgb(94, 125, 0);" title="StoryBoard routes #update/:object_id hash Finds the required model based on the model id.">Finds the required model based on the model id</a></div><div style="margin-left:14px;"><a href="http://localhost:8888/?spec=StoryBoard%20routes%20%23update%2F%3Aobject_id%20hash%20Instantiates%20the%20StoryBoardEditObjView%20with%20the%20correct%20values." shape="rect" style="text-decoration:none;color:rgb(94, 125, 0);" title="StoryBoard routes #update/:object_id hash Instantiates the StoryBoardEditObjView with the correct values.">Instantiates the StoryBoardEditObjView with the correct values</a></div><div style="margin-left:14px;"><a href="http://localhost:8888/?spec=StoryBoard%20routes%20%23update%2F%3Aobject_id%20hash%20It%20renders%20StoryBoardEditObjView%20view." shape="rect" style="text-decoration:none;color:rgb(94, 125, 0);" title="StoryBoard routes #update/:object_id hash It renders StoryBoardEditObjView view.">It renders StoryBoardEditObjView view</a></div></div><div style="margin-top:14px;margin-left:14px;"><a href="http://localhost:8888/?spec=StoryBoard%20routes%20%23new%20hash" shape="rect" style="text-decoration:none;color:rgb(51, 51, 51);">#new hash</a><div style="margin-left:14px;"><a href="http://localhost:8888/?spec=StoryBoard%20routes%20%23new%20hash%20has%20a%20%22newObject%22%20route." shape="rect" style="text-decoration:none;color:rgb(94, 125, 0);" title="StoryBoard routes #new hash has a &#39;newObject&#39; route.">has a "newObject" route</a></div><div style="margin-left:14px;"><a href="http://localhost:8888/?spec=StoryBoard%20routes%20%23new%20hash%20fires%20the%20newObject%20route%20with%20a%20%23new%20hash." shape="rect" style="text-decoration:none;color:rgb(94, 125, 0);" title="StoryBoard routes #new hash fires the newObject route with a #new hash.">fires the newObject route with a #new hash</a></div><div style="margin-left:14px;"><a href="http://localhost:8888/?spec=StoryBoard%20routes%20%23new%20hash%20gets%20the%20StoryBoardNewObj%20view." shape="rect" style="text-decoration:none;color:rgb(94, 125, 0);" title="StoryBoard routes #new hash gets the StoryBoardNewObj view.">gets the StoryBoardNewObj view</a></div><div style="margin-left:14px;"><a href="http://localhost:8888/?spec=StoryBoard%20routes%20%23new%20hash%20Renders%20the%20StoryBoardNewObj%20view." shape="rect" style="text-decoration:none;color:rgb(94, 125, 0);" title="StoryBoard routes #new hash Renders the StoryBoardNewObj view.">Renders the StoryBoardNewObj view</a></div></div><div style="margin-top:14px;margin-left:14px;"><a href="http://localhost:8888/?spec=StoryBoard%20routes%20%23search%20hash" shape="rect" style="text-decoration:none;color:rgb(51, 51, 51);">#search hash</a><div style="margin-left:14px;"><a href="http://localhost:8888/?spec=StoryBoard%20routes%20%23search%20hash%20Has%20a%20searchObjects%20route." shape="rect" style="text-decoration:none;color:rgb(94, 125, 0);" title="StoryBoard routes #search hash Has a searchObjects route.">Has a searchObjects route</a></div><div style="margin-left:14px;"><a href="http://localhost:8888/?spec=StoryBoard%20routes%20%23search%20hash%20Calls%20the%20home%20view%20search%20action%20on%20%23search%2Fsearchstring." shape="rect" style="text-decoration:none;color:rgb(94, 125, 0);" title="StoryBoard routes #search hash Calls the home view search action on #search/searchstring.">Calls the home view search action on #search/searchstring</a></div></div><div style="margin-top:14px;margin-left:14px;"><a href="http://localhost:8888/?spec=StoryBoard%20routes%20On%20change%20model%20order" shape="rect" style="text-decoration:none;color:rgb(51, 51, 51);">On change model order</a><div style="margin-left:14px;"><a href="http://localhost:8888/?spec=StoryBoard%20routes%20On%20change%20model%20order%20Triggers%20the%20update%20event." shape="rect" style="text-decoration:none;color:rgb(94, 125, 0);" title="StoryBoard routes On change model order Triggers the update event.">Triggers the update event</a></div></div><div style="margin-top:14px;margin-left:14px;"><a href="http://localhost:8888/?spec=StoryBoard%20routes%20%23show_task%20hash" shape="rect" style="text-decoration:none;color:rgb(51, 51, 51);">#show_task hash</a><div style="margin-left:14px;"><a href="http://localhost:8888/?spec=StoryBoard%20routes%20%23show_task%20hash%20Has%20a%20showTask%20route." shape="rect" style="text-decoration:none;color:rgb(94, 125, 0);" title="StoryBoard routes #show_task hash Has a showTask route.">Has a showTask route</a></div><div style="margin-left:14px;"><a href="http://localhost:8888/?spec=StoryBoard%20routes%20%23show_task%20hash%20Calls%20the%20home%20view%20showTask%20action%20on%20%23show_task%2Fmodel_id." shape="rect" style="text-decoration:none;color:rgb(94, 125, 0);" title="StoryBoard routes #show_task hash Calls the home view showTask action on #show_task/model_id.">Calls the home view showTask action on #show_task/model_id</a></div></div><div style="margin-top:14px;margin-left:14px;"><a href="http://localhost:8888/?spec=StoryBoard%20routes%20%23delete_sbo%20hash" shape="rect" style="text-decoration:none;color:rgb(51, 51, 51);">#delete_sbo hash</a><div style="margin-left:14px;"><a href="http://localhost:8888/?spec=StoryBoard%20routes%20%23delete_sbo%20hash%20Has%20a%20deleteTask%20route." shape="rect" style="text-decoration:none;color:rgb(94, 125, 0);" title="StoryBoard routes #delete_sbo hash Has a deleteTask route.">Has a deleteTask route</a></div><div style="margin-left:14px;"><a href="http://localhost:8888/?spec=StoryBoard%20routes%20%23delete_sbo%20hash%20Calls%20the%20home%20view%20deleteTask%20action%20on%20%23delete_sbo%2Fmodel_id." shape="rect" style="text-decoration:none;color:rgb(94, 125, 0);" title="StoryBoard routes #delete_sbo hash Calls the home view deleteTask action on #delete_sbo/model_id.">Calls the home view deleteTask action on #delete_sbo/model_id</a></div></div><div style="margin-top:14px;margin-left:14px;"><a href="http://localhost:8888/?spec=StoryBoard%20routes%20%23changeStatus%20hash" shape="rect" style="text-decoration:none;color:rgb(51, 51, 51);">#changeStatus hash</a><div style="margin-left:14px;"><a href="http://localhost:8888/?spec=StoryBoard%20routes%20%23changeStatus%20hash%20Has%20a%20changeStatus%20route." shape="rect" style="text-decoration:none;color:rgb(94, 125, 0);" title="StoryBoard routes #changeStatus hash Has a changeStatus route.">Has a changeStatus route</a></div><div style="margin-left:14px;"><a href="http://localhost:8888/?spec=StoryBoard%20routes%20%23changeStatus%20hash%20gets%20the%20StoryBoardEditObjView%20template." shape="rect" style="text-decoration:none;color:rgb(94, 125, 0);" title="StoryBoard routes #changeStatus hash gets the StoryBoardEditObjView template.">gets the StoryBoardEditObjView template</a></div><div style="margin-left:14px;"><a href="http://localhost:8888/?spec=StoryBoard%20routes%20%23changeStatus%20hash%20Calls%20the%20StoryBoardEditObjView%20view%20renderChangeStatus." shape="rect" style="text-decoration:none;color:rgb(94, 125, 0);" title="StoryBoard routes #changeStatus hash Calls the StoryBoardEditObjView view renderChangeStatus.">Calls the StoryBoardEditObjView view renderChangeStatus</a></div><div style="margin-left:14px;"><a href="http://localhost:8888/?spec=StoryBoard%20routes%20%23changeStatus%20hash%20gets%20the%20model%20from%20the%20collection." shape="rect" style="text-decoration:none;color:rgb(94, 125, 0);" title="StoryBoard routes #changeStatus hash gets the model from the collection.">gets the model from the collection</a></div></div><div style="margin-top:14px;margin-left:14px;"><a href="http://localhost:8888/?spec=StoryBoard%20routes%20View%20linked%20tasks" shape="rect" style="text-decoration:none;color:rgb(51, 51, 51);">View linked tasks</a><div style="margin-left:14px;"><a href="http://localhost:8888/?spec=StoryBoard%20routes%20View%20linked%20tasks%20calls%20the%20displayLinkedSbo%20function%20of%20the%20story%20board%20home%20view." shape="rect" style="text-decoration:none;color:rgb(94, 125, 0);" title="StoryBoard routes View linked tasks calls the displayLinkedSbo function of the story board home view.">calls the displayLinkedSbo function of the story board home view</a></div></div></div><div style="margin-top:14px;"><a href="http://localhost:8888/?spec=StoryBoard%20Edit%20Object%20View" shape="rect" style="text-decoration:none;color:rgb(51, 51, 51);">StoryBoard Edit Object View</a><div style="margin-left:14px;"><a href="http://localhost:8888/?spec=StoryBoard%20Edit%20Object%20View%20Has%20the%20model%20of%20a%20StoryBoardObject." shape="rect" style="text-decoration:none;color:rgb(94, 125, 0);" title="StoryBoard Edit Object View Has the model of a StoryBoardObject.">Has the model of a StoryBoardObject</a></div><div style="margin-top:14px;margin-left:14px;"><a href="http://localhost:8888/?spec=StoryBoard%20Edit%20Object%20View%20Initialise%20the%20view" shape="rect" style="text-decoration:none;color:rgb(51, 51, 51);">Initialise the view</a><div style="margin-left:14px;"><a href="http://localhost:8888/?spec=StoryBoard%20Edit%20Object%20View%20Initialise%20the%20view%20Gets%20the%20'edit_story_board_object'%20template." shape="rect" style="text-decoration:none;color:rgb(94, 125, 0);" title="StoryBoard Edit Object View Initialise the view Gets the &#39;edit_story_board_object&#39; template.">Gets the 'edit_story_board_object' template</a></div></div><div style="margin-top:14px;margin-left:14px;"><a href="http://localhost:8888/?spec=StoryBoard%20Edit%20Object%20View%20Render%20the%20view" shape="rect" style="text-decoration:none;color:rgb(51, 51, 51);">Render the view</a><div style="margin-left:14px;"><a href="http://localhost:8888/?spec=StoryBoard%20Edit%20Object%20View%20Render%20the%20view%20Parses%20the%20template%20with%20the%20model%20data." shape="rect" style="text-decoration:none;color:rgb(94, 125, 0);" title="StoryBoard Edit Object View Render the view Parses the template with the model data.">Parses the template with the model data</a></div><div style="margin-left:14px;"><a href="http://localhost:8888/?spec=StoryBoard%20Edit%20Object%20View%20Render%20the%20view%20Populates%20the%20relevant%20view%20el%20with%20the%20template%20html." shape="rect" style="text-decoration:none;color:rgb(94, 125, 0);" title="StoryBoard Edit Object View Render the view Populates the relevant view el with the template html.">Populates the relevant view el with the template html</a></div></div><div style="margin-top:14px;margin-left:14px;"><a href="http://localhost:8888/?spec=StoryBoard%20Edit%20Object%20View%20Update%20Story%20Board%20Object" shape="rect" style="text-decoration:none;color:rgb(51, 51, 51);">Update Story Board Object</a><div style="margin-left:14px;"><a href="http://localhost:8888/?spec=StoryBoard%20Edit%20Object%20View%20Update%20Story%20Board%20Object%20issues%20a%20valid%20request%20to%20update%20existing%20story%20board%20object%20model." shape="rect" style="text-decoration:none;color:rgb(94, 125, 0);" title="StoryBoard Edit Object View Update Story Board Object issues a valid request to update existing story board object model.">issues a valid request to update existing story board object model</a></div><div style="margin-left:14px;"><a href="http://localhost:8888/?spec=StoryBoard%20Edit%20Object%20View%20Update%20Story%20Board%20Object%20Refreshes%20the%20StoryBoardObject%20view%20on%20success." shape="rect" style="text-decoration:none;color:rgb(94, 125, 0);" title="StoryBoard Edit Object View Update Story Board Object Refreshes the StoryBoardObject view on success.">Refreshes the StoryBoardObject view on success</a></div><div style="margin-left:14px;"><a href="http://localhost:8888/?spec=StoryBoard%20Edit%20Object%20View%20Update%20Story%20Board%20Object%20returns%20a%20pop-up%20error%20messages%20on%20failed%20update." shape="rect" style="text-decoration:none;color:rgb(94, 125, 0);" title="StoryBoard Edit Object View Update Story Board Object returns a pop-up error messages on failed update.">returns a pop-up error messages on failed update</a></div></div><div style="margin-top:14px;margin-left:14px;"><a href="http://localhost:8888/?spec=StoryBoard%20Edit%20Object%20View%20Update%20StoryBoardObject%20order" shape="rect" style="text-decoration:none;color:rgb(51, 51, 51);">Update StoryBoardObject order</a><div style="margin-left:14px;"><a href="http://localhost:8888/?spec=StoryBoard%20Edit%20Object%20View%20Update%20StoryBoardObject%20order%20Updates%20the%20order%20Up." shape="rect" style="text-decoration:none;color:rgb(94, 125, 0);" title="StoryBoard Edit Object View Update StoryBoardObject order Updates the order Up.">Updates the order Up</a></div><div style="margin-left:14px;"><a href="http://localhost:8888/?spec=StoryBoard%20Edit%20Object%20View%20Update%20StoryBoardObject%20order%20Updates%20the%20order%20Down." shape="rect" style="text-decoration:none;color:rgb(94, 125, 0);" title="StoryBoard Edit Object View Update StoryBoardObject order Updates the order Down.">Updates the order Down</a></div><div style="margin-left:14px;"><a href="http://localhost:8888/?spec=StoryBoard%20Edit%20Object%20View%20Update%20StoryBoardObject%20order%20Does%20not%20allow%20negative%20order." shape="rect" style="text-decoration:none;color:rgb(94, 125, 0);" title="StoryBoard Edit Object View Update StoryBoardObject order Does not allow negative order.">Does not allow negative order</a></div></div></div><div style="margin-top:14px;"><a href="http://localhost:8888/?spec=Story%20Board%20Home%20View" shape="rect" style="text-decoration:none;color:rgb(51, 51, 51);">Story Board Home View</a><div style="margin-top:0px;margin-left:14px;"><a href="http://localhost:8888/?spec=Story%20Board%20Home%20View%20Initialise%20the%20StoryBoard" shape="rect" style="text-decoration:none;color:rgb(51, 51, 51);">Initialise the StoryBoard</a><div style="margin-left:14px;"><a href="http://localhost:8888/?spec=Story%20Board%20Home%20View%20Initialise%20the%20StoryBoard%20Gets%20the%20individual%20StoryBoardObject%20template." shape="rect" style="text-decoration:none;color:rgb(94, 125, 0);" title="Story Board Home View Initialise the StoryBoard Gets the individual StoryBoardObject template.">Gets the individual StoryBoardObject template</a></div></div><div style="margin-top:14px;margin-left:14px;"><a href="http://localhost:8888/?spec=Story%20Board%20Home%20View%20Render%20StoryBoard%20View" shape="rect" style="text-decoration:none;color:rgb(51, 51, 51);">Render StoryBoard View</a><div style="margin-left:14px;"><a href="http://localhost:8888/?spec=Story%20Board%20Home%20View%20Render%20StoryBoard%20View%20Sorts%20the%20list%20by%20order." shape="rect" style="text-decoration:none;color:rgb(94, 125, 0);" title="Story Board Home View Render StoryBoard View Sorts the list by order.">Sorts the list by order</a></div><div style="margin-left:14px;"><a href="http://localhost:8888/?spec=Story%20Board%20Home%20View%20Render%20StoryBoard%20View%20Populates%20the%20template%20for%20each%20StoryBoardObject%20stage." shape="rect" style="text-decoration:none;color:rgb(94, 125, 0);" title="Story Board Home View Render StoryBoard View Populates the template for each StoryBoardObject stage.">Populates the template for each StoryBoardObject stage</a></div><div style="margin-left:14px;"><a href="http://localhost:8888/?spec=Story%20Board%20Home%20View%20Render%20StoryBoard%20View%20Fills%20the%20'current'%20div%20with%20the%20Current%20StoryBoardObjects." shape="rect" style="text-decoration:none;color:rgb(94, 125, 0);" title="Story Board Home View Render StoryBoard View Fills the &#39;current&#39; div with the Current StoryBoardObjects.">Fills the 'current' div with the Current StoryBoardObjects</a></div><div style="margin-left:14px;"><a href="http://localhost:8888/?spec=Story%20Board%20Home%20View%20Render%20StoryBoard%20View%20Fills%20the%20'backlog'%20div%20with%20the%20Backlog%20StoryBoardObjects." shape="rect" style="text-decoration:none;color:rgb(94, 125, 0);" title="Story Board Home View Render StoryBoard View Fills the &#39;backlog&#39; div with the Backlog StoryBoardObjects.">Fills the 'backlog' div with the Backlog StoryBoardObjects</a></div><div style="margin-left:14px;"><a href="http://localhost:8888/?spec=Story%20Board%20Home%20View%20Render%20StoryBoard%20View%20Fills%20the%20'future'%20div%20with%20the%20Future%20StoryBoardObjects." shape="rect" style="text-decoration:none;color:rgb(94, 125, 0);" title="Story Board Home View Render StoryBoard View Fills the &#39;future&#39; div with the Future StoryBoardObjects.">Fills the 'future' div with the Future StoryBoardObjects</a></div><div style="margin-left:14px;"><a href="http://localhost:8888/?spec=Story%20Board%20Home%20View%20Render%20StoryBoard%20View%20It%20resises%20the%20stage%20columns%20to%20the%20size%20of%20the%20heighest%20column." shape="rect" style="text-decoration:none;color:rgb(94, 125, 0);" title="Story Board Home View Render StoryBoard View It resises the stage columns to the size of the heighest column.">It resises the stage columns to the size of the heighest column</a></div></div><div style="margin-top:14px;margin-left:14px;"><a href="http://localhost:8888/?spec=Story%20Board%20Home%20View%20Search%20StoryBoard" shape="rect" style="text-decoration:none;color:rgb(51, 51, 51);">Search StoryBoard</a><div style="margin-left:14px;"><a href="http://localhost:8888/?spec=Story%20Board%20Home%20View%20Search%20StoryBoard%20Makes%20a%20server%20request%20to%20get%20the%20ids%20of%20StoryBoardObjects%20based%20on%20a%20search%20criteria." shape="rect" style="text-decoration:none;color:rgb(94, 125, 0);" title="Story Board Home View Search StoryBoard Makes a server request to get the ids of StoryBoardObjects based on a search criteria.">Makes a server request to get the ids of StoryBoardObjects based on a search criteria</a></div><div style="margin-top:14px;margin-left:14px;"><a href="http://localhost:8888/?spec=Story%20Board%20Home%20View%20Search%20StoryBoard%20Searches%20only%20if%20more%20then%20three%20characters%20are%20entered" shape="rect" style="text-decoration:none;color:rgb(51, 51, 51);">Searches only if more then three characters are entered</a><div style="margin-left:14px;"><a href="http://localhost:8888/?spec=Story%20Board%20Home%20View%20Search%20StoryBoard%20Searches%20only%20if%20more%20then%20three%20characters%20are%20entered%20Calls%20the%20search%20function%20on%20change%20of%20the%20search%20field." shape="rect" style="text-decoration:none;color:rgb(94, 125, 0);" title="Story Board Home View Search StoryBoard Searches only if more then three characters are entered Calls the search function on change of the search field.">Calls the search function on change of the search field</a></div><div style="margin-left:14px;"><a href="http://localhost:8888/?spec=Story%20Board%20Home%20View%20Search%20StoryBoard%20Searches%20only%20if%20more%20then%20three%20characters%20are%20entered%20Tries%20a%20search%20if%20three%20characters%20have%20been%20entered%20as%20search%20criteria." shape="rect" style="text-decoration:none;color:rgb(94, 125, 0);" title="Story Board Home View Search StoryBoard Searches only if more then three characters are entered Tries a search if three characters have been entered as search criteria.">Tries a search if three characters have been entered as search criteria</a></div><div style="margin-left:14px;"><a href="http://localhost:8888/?spec=Story%20Board%20Home%20View%20Search%20StoryBoard%20Searches%20only%20if%20more%20then%20three%20characters%20are%20entered%20Does%20not%20search%20if%20less%20then%20three%20characters%20submitted%20for%20search." shape="rect" style="text-decoration:none;color:rgb(94, 125, 0);" title="Story Board Home View Search StoryBoard Searches only if more then three characters are entered Does not search if less then three characters submitted for search.">Does not search if less then three characters submitted for search</a></div></div><div style="margin-top:14px;margin-left:14px;"><a href="http://localhost:8888/?spec=Story%20Board%20Home%20View%20Search%20StoryBoard%20Highlights%20the%20StoryBoard%20objects%20searched" shape="rect" style="text-decoration:none;color:rgb(51, 51, 51);">Highlights the StoryBoard objects searched</a><div style="margin-left:14px;"><a href="http://localhost:8888/?spec=Story%20Board%20Home%20View%20Search%20StoryBoard%20Highlights%20the%20StoryBoard%20objects%20searched%20Calls%20the%20renderFoundObjects%20method." shape="rect" style="text-decoration:none;color:rgb(94, 125, 0);" title="Story Board Home View Search StoryBoard Highlights the StoryBoard objects searched Calls the renderFoundObjects method.">Calls the renderFoundObjects method</a></div><div style="margin-left:14px;"><a href="http://localhost:8888/?spec=Story%20Board%20Home%20View%20Search%20StoryBoard%20Highlights%20the%20StoryBoard%20objects%20searched%20Highlights%20the%20text%20found." shape="rect" style="text-decoration:none;color:rgb(94, 125, 0);" title="Story Board Home View Search StoryBoard Highlights the StoryBoard objects searched Highlights the text found.">Highlights the text found</a></div></div></div><div style="margin-top:14px;margin-left:14px;"><a href="http://localhost:8888/?spec=Story%20Board%20Home%20View%20Show%20task%20on%20the%20story%20board" shape="rect" style="text-decoration:none;color:rgb(51, 51, 51);">Show task on the story board</a><div style="margin-left:14px;"><a href="http://localhost:8888/?spec=Story%20Board%20Home%20View%20Show%20task%20on%20the%20story%20board%20Removes%20previously%20selected%20objects." shape="rect" style="text-decoration:none;color:rgb(94, 125, 0);" title="Story Board Home View Show task on the story board Removes previously selected objects.">Removes previously selected objects</a></div><div style="margin-left:14px;"><a href="http://localhost:8888/?spec=Story%20Board%20Home%20View%20Show%20task%20on%20the%20story%20board%20Finds%20the%20model%20in%20the%20collection." shape="rect" style="text-decoration:none;color:rgb(94, 125, 0);" title="Story Board Home View Show task on the story board Finds the model in the collection.">Finds the model in the collection</a></div><div style="margin-left:14px;"><a href="http://localhost:8888/?spec=Story%20Board%20Home%20View%20Show%20task%20on%20the%20story%20board%20Highlights%20the%20task%20if%20the%20model%20was%20found." shape="rect" style="text-decoration:none;color:rgb(94, 125, 0);" title="Story Board Home View Show task on the story board Highlights the task if the model was found.">Highlights the task if the model was found</a></div><div style="margin-left:14px;"><a href="http://localhost:8888/?spec=Story%20Board%20Home%20View%20Show%20task%20on%20the%20story%20board%20Displays%20a%20JavaScript%20alert%20if%20the%20model%20was%20not%20found." shape="rect" style="text-decoration:none;color:rgb(94, 125, 0);" title="Story Board Home View Show task on the story board Displays a JavaScript alert if the model was not found.">Displays a JavaScript alert if the model was not found</a></div><div style="margin-left:14px;"><a href="http://localhost:8888/?spec=Story%20Board%20Home%20View%20Show%20task%20on%20the%20story%20board%20Scrolls%20to%20the%20task." shape="rect" style="text-decoration:none;color:rgb(94, 125, 0);" title="Story Board Home View Show task on the story board Scrolls to the task.">Scrolls to the task</a></div></div><div style="margin-top:14px;margin-left:14px;"><a href="http://localhost:8888/?spec=Story%20Board%20Home%20View%20Delete%20task" shape="rect" style="text-decoration:none;color:rgb(51, 51, 51);">Delete task</a><div style="margin-left:14px;"><a href="http://localhost:8888/?spec=Story%20Board%20Home%20View%20Delete%20task%20makes%20the%20delete%20request%20if%20confirmed." shape="rect" style="text-decoration:none;color:rgb(94, 125, 0);" title="Story Board Home View Delete task makes the delete request if confirmed.">makes the delete request if confirmed</a></div><div style="margin-left:14px;"><a href="http://localhost:8888/?spec=Story%20Board%20Home%20View%20Delete%20task%20does%20not%20make%20the%20delete%20request%20if%20not%20confirmed." shape="rect" style="text-decoration:none;color:rgb(94, 125, 0);" title="Story Board Home View Delete task does not make the delete request if not confirmed.">does not make the delete request if not confirmed</a></div><div style="margin-left:14px;"><a href="http://localhost:8888/?spec=Story%20Board%20Home%20View%20Delete%20task%20removes%20the%20object%20from%20the%20collection." shape="rect" style="text-decoration:none;color:rgb(94, 125, 0);" title="Story Board Home View Delete task removes the object from the collection.">removes the object from the collection</a></div><div style="margin-left:14px;"><a href="http://localhost:8888/?spec=Story%20Board%20Home%20View%20Delete%20task%20refreshes%20the%20storyboard." shape="rect" style="text-decoration:none;color:rgb(94, 125, 0);" title="Story Board Home View Delete task refreshes the storyboard.">refreshes the storyboard</a></div><div style="margin-left:14px;"><a href="http://localhost:8888/?spec=Story%20Board%20Home%20View%20Delete%20task%20asks%20for%20user%20confirmation%20to%20delete%20the%20object." shape="rect" style="text-decoration:none;color:rgb(94, 125, 0);" title="Story Board Home View Delete task asks for user confirmation to delete the object.">asks for user confirmation to delete the object</a></div></div><div style="margin-top:14px;margin-left:14px;"><a href="http://localhost:8888/?spec=Story%20Board%20Home%20View%20show%20more%20information%20method" shape="rect" style="text-decoration:none;color:rgb(51, 51, 51);">show more information method</a><div style="margin-left:14px;"><a href="http://localhost:8888/?spec=Story%20Board%20Home%20View%20show%20more%20information%20method%20removes%20the%20linked-task%20class%20from%20the%20sbo-stage-row." shape="rect" style="text-decoration:none;color:rgb(94, 125, 0);" title="Story Board Home View show more information method removes the linked-task class from the sbo-stage-row.">removes the linked-task class from the sbo-stage-row</a></div><div style="margin-left:14px;"><a href="http://localhost:8888/?spec=Story%20Board%20Home%20View%20show%20more%20information%20method%20hides%20the%20edit%20form." shape="rect" style="text-decoration:none;color:rgb(94, 125, 0);" title="Story Board Home View show more information method hides the edit form.">hides the edit form</a></div><div style="margin-left:14px;"><a href="http://localhost:8888/?spec=Story%20Board%20Home%20View%20show%20more%20information%20method%20toggles%20the%20more%20inormation%20container%20form." shape="rect" style="text-decoration:none;color:rgb(94, 125, 0);" title="Story Board Home View show more information method toggles the more inormation container form.">toggles the more inormation container form</a></div><div style="margin-left:14px;"><a href="http://localhost:8888/?spec=Story%20Board%20Home%20View%20show%20more%20information%20method%20should%20call%20the%20resize%20columns%20method%20of%20the%20view%20helpers." shape="rect" style="text-decoration:none;color:rgb(94, 125, 0);" title="Story Board Home View show more information method should call the resize columns method of the view helpers.">should call the resize columns method of the view helpers</a></div></div><div style="margin-top:14px;margin-left:14px;"><a href="http://localhost:8888/?spec=Story%20Board%20Home%20View%20reorder%20story%20board%20objects" shape="rect" style="text-decoration:none;color:rgb(51, 51, 51);">reorder story board objects</a><div style="margin-left:14px;"><a href="http://localhost:8888/?spec=Story%20Board%20Home%20View%20reorder%20story%20board%20objects%20sets%20the%20current%20model%20data." shape="rect" style="text-decoration:none;color:rgb(94, 125, 0);" title="Story Board Home View reorder story board objects sets the current model data.">sets the current model data</a></div><div style="margin-left:14px;"><a href="http://localhost:8888/?spec=Story%20Board%20Home%20View%20reorder%20story%20board%20objects%20gets%20the%20next%20and%20previous%20elements." shape="rect" style="text-decoration:none;color:rgb(94, 125, 0);" title="Story Board Home View reorder story board objects gets the next and previous elements.">gets the next and previous elements</a></div><div style="margin-left:14px;"><a href="http://localhost:8888/?spec=Story%20Board%20Home%20View%20reorder%20story%20board%20objects%20changes%20the%20order%20up%20if%20next%20order%20is%20less%20than%20this%20el%20order." shape="rect" style="text-decoration:none;color:rgb(94, 125, 0);" title="Story Board Home View reorder story board objects changes the order up if next order is less than this el order.">changes the order up if next order is less than this el order</a></div><div style="margin-left:14px;"><a href="http://localhost:8888/?spec=Story%20Board%20Home%20View%20reorder%20story%20board%20objects%20changes%20the%20order%20down%20if%20next%20order%20is%20greater%20than%20this%20el%20order." shape="rect" style="text-decoration:none;color:rgb(94, 125, 0);" title="Story Board Home View reorder story board objects changes the order down if next order is greater than this el order.">changes the order down if next order is greater than this el order</a></div></div><div style="margin-top:14px;margin-left:14px;"><a href="http://localhost:8888/?spec=Story%20Board%20Home%20View%20Display%20linked%20story%20board%20objects" shape="rect" style="text-decoration:none;color:rgb(51, 51, 51);">Display linked story board objects</a><div style="margin-left:14px;"><a href="http://localhost:8888/?spec=Story%20Board%20Home%20View%20Display%20linked%20story%20board%20objects%20finds%20the%20child%20story%20board%20object%20elements." shape="rect" style="text-decoration:none;color:rgb(94, 125, 0);" title="Story Board Home View Display linked story board objects finds the child story board object elements.">finds the child story board object elements</a></div><div style="margin-left:14px;"><a href="http://localhost:8888/?spec=Story%20Board%20Home%20View%20Display%20linked%20story%20board%20objects%20removes%20the%20linked%20tasks%20highlighting%20in%208%20s." shape="rect" style="text-decoration:none;color:rgb(94, 125, 0);" title="Story Board Home View Display linked story board objects removes the linked tasks highlighting in 8 s.">removes the linked tasks highlighting in 8 s</a></div></div></div><div style="margin-top:14px;"><a href="http://localhost:8888/?spec=StoryBoard%20new%20object%20view" shape="rect" style="text-decoration:none;color:rgb(51, 51, 51);">StoryBoard new object view</a><div style="margin-top:0px;margin-left:14px;"><a href="http://localhost:8888/?spec=StoryBoard%20new%20object%20view%20Initialise%20the%20the%20view" shape="rect" style="text-decoration:none;color:rgb(51, 51, 51);">Initialise the the view</a><div style="margin-left:14px;"><a href="http://localhost:8888/?spec=StoryBoard%20new%20object%20view%20Initialise%20the%20the%20view%20Has%20a%20template%20link." shape="rect" style="text-decoration:none;color:rgb(94, 125, 0);" title="StoryBoard new object view Initialise the the view Has a template link.">Has a template link</a></div><div style="margin-left:14px;"><a href="http://localhost:8888/?spec=StoryBoard%20new%20object%20view%20Initialise%20the%20the%20view%20Calls%20the%20get%20new%20StoryBoardObject%20template." shape="rect" style="text-decoration:none;color:rgb(94, 125, 0);" title="StoryBoard new object view Initialise the the view Calls the get new StoryBoardObject template.">Calls the get new StoryBoardObject template</a></div></div><div style="margin-top:14px;margin-left:14px;"><a href="http://localhost:8888/?spec=StoryBoard%20new%20object%20view%20Render%20the%20view" shape="rect" style="text-decoration:none;color:rgb(51, 51, 51);">Render the view</a><div style="margin-left:14px;"><a href="http://localhost:8888/?spec=StoryBoard%20new%20object%20view%20Render%20the%20view%20Populates%20the%20'new_story_board'%20object%20template%20with%20form%20objects." shape="rect" style="text-decoration:none;color:rgb(94, 125, 0);" title="StoryBoard new object view Render the view Populates the &#39;new_story_board&#39; object template with form objects.">Populates the 'new_story_board' object template with form objects</a></div><div style="margin-left:14px;"><a href="http://localhost:8888/?spec=StoryBoard%20new%20object%20view%20Render%20the%20view%20It%20calls%20the%20underscore%20template%20method%20with%20the%20model%20parameter." shape="rect" style="text-decoration:none;color:rgb(94, 125, 0);" title="StoryBoard new object view Render the view It calls the underscore template method with the model parameter.">It calls the underscore template method with the model parameter</a></div><div style="margin-left:14px;"><a href="http://localhost:8888/?spec=StoryBoard%20new%20object%20view%20Render%20the%20view%20Appends%20the%20'new_story_board'%20template%20to%20the%20%23new-object%20container." shape="rect" style="text-decoration:none;color:rgb(94, 125, 0);" title="StoryBoard new object view Render the view Appends the &#39;new_story_board&#39; template to the #new-object container.">Appends the 'new_story_board' template to the #new-object container</a></div><div style="margin-left:14px;"><a href="http://localhost:8888/?spec=StoryBoard%20new%20object%20view%20Render%20the%20view%20Creates%20a%20valid%20model%20of%20the%20new%20story%20board%20object." shape="rect" style="text-decoration:none;color:rgb(94, 125, 0);" title="StoryBoard new object view Render the view Creates a valid model of the new story board object.">Creates a valid model of the new story board object</a></div><div style="margin-left:14px;"><a href="http://localhost:8888/?spec=StoryBoard%20new%20object%20view%20Render%20the%20view%20Resizes%20the%20columns%20to%20the%20highest%20column." shape="rect" style="text-decoration:none;color:rgb(94, 125, 0);" title="StoryBoard new object view Render the view Resizes the columns to the highest column.">Resizes the columns to the highest column</a></div></div><div style="margin-top:14px;margin-left:14px;"><a href="http://localhost:8888/?spec=StoryBoard%20new%20object%20view%20Create%20StoryBoard%20object" shape="rect" style="text-decoration:none;color:rgb(51, 51, 51);">Create StoryBoard object</a><div style="margin-left:14px;"><a href="http://localhost:8888/?spec=StoryBoard%20new%20object%20view%20Create%20StoryBoard%20object%20Calls%20the%20create%20object%20method%20of%20the%20model." shape="rect" style="text-decoration:none;color:rgb(94, 125, 0);" title="StoryBoard new object view Create StoryBoard object Calls the create object method of the model.">Calls the create object method of the model</a></div><div style="margin-left:14px;"><a href="http://localhost:8888/?spec=StoryBoard%20new%20object%20view%20Create%20StoryBoard%20object%20Adds%20the%20created%20model%20to%20the%20StoryBoardObject%20collection%20using%20form%20values." shape="rect" style="text-decoration:none;color:rgb(94, 125, 0);" title="StoryBoard new object view Create StoryBoard object Adds the created model to the StoryBoardObject collection using form values.">Adds the created model to the StoryBoardObject collection using form values</a></div><div style="margin-left:14px;"><a href="http://localhost:8888/?spec=StoryBoard%20new%20object%20view%20Create%20StoryBoard%20object%20Calls%20the%20save%20method%20of%20the%20model." shape="rect" style="text-decoration:none;color:rgb(94, 125, 0);" title="StoryBoard new object view Create StoryBoard object Calls the save method of the model.">Calls the save method of the model</a></div><div style="margin-left:14px;"><a href="http://localhost:8888/?spec=StoryBoard%20new%20object%20view%20Create%20StoryBoard%20object%20Hides%20the%20new%20object%20form%20on%20successful%20save." shape="rect" style="text-decoration:none;color:rgb(94, 125, 0);" title="StoryBoard new object view Create StoryBoard object Hides the new object form on successful save.">Hides the new object form on successful save</a></div><div style="margin-left:14px;"><a href="http://localhost:8888/?spec=StoryBoard%20new%20object%20view%20Create%20StoryBoard%20object%20Sets%20the%20parent_task_id%20if%20it%20has%20been%20passed%20in%20the%20options." shape="rect" style="text-decoration:none;color:rgb(94, 125, 0);" title="StoryBoard new object view Create StoryBoard object Sets the parent_task_id if it has been passed in the options.">Sets the parent_task_id if it has been passed in the options</a></div></div><div style="margin-top:14px;margin-left:14px;"><a href="http://localhost:8888/?spec=StoryBoard%20new%20object%20view%20displayErrors" shape="rect" style="text-decoration:none;color:rgb(51, 51, 51);">displayErrors</a><div style="margin-left:14px;"><a href="http://localhost:8888/?spec=StoryBoard%20new%20object%20view%20displayErrors%20Creates%20an%20errors%20container." shape="rect" style="text-decoration:none;color:rgb(94, 125, 0);" title="StoryBoard new object view displayErrors Creates an errors container.">Creates an errors container</a></div><div style="margin-left:14px;"><a href="http://localhost:8888/?spec=StoryBoard%20new%20object%20view%20displayErrors%20Appends%20the%20container%20to%20the%20main%20element%20of%20the%20view." shape="rect" style="text-decoration:none;color:rgb(94, 125, 0);" title="StoryBoard new object view displayErrors Appends the container to the main element of the view.">Appends the container to the main element of the view</a></div><div style="margin-left:14px;"><a href="http://localhost:8888/?spec=StoryBoard%20new%20object%20view%20displayErrors%20Returns%20a%20list%20view%20of%20each%20error." shape="rect" style="text-decoration:none;color:rgb(94, 125, 0);" title="StoryBoard new object view displayErrors Returns a list view of each error.">Returns a list view of each error</a></div></div></div></div></div></div></div></div></div></div><br clear="none"></div>
</div></body></html>