<div class="page-content">
  <div class="section-container vertical-tabs" data-section="vertical-tabs">
    <section>
      <p class="title" data-section-title><a href="javascript:void(0)" id="redner-ruby-tests">Ruby tests</a></p>
      <div class="content" data-section-content>
        <a href="https://bitbucket.org/jbelkasemi/maft/src/0533f37ae66ccc81566d62e4152c1cde3a0e674b/spec?at=master" target="_blank">View Ruby Test Source</a>
        <br />
        <iframe id="ruby-tests" src="<%= render_ruby_tests_path %>" data-url="<%= render_ruby_tests_path %>" width="100%" height="600px">
        </iframe>
      </div>
    </section>
    <section>
      <p class="title" data-section-title><a href="javascript:void(0)" id="redner-js-tests">JavaScript Tests</a></p>
      <div class="content" data-section-content>
        <a href="https://bitbucket.org/jbelkasemi/maft/src/0533f37ae66ccc81566d62e4152c1cde3a0e674b/spec/javascripts?at=master" target="_blank">View JavaScript Test Source</a>
        <br />
        <iframe id="js-tests" src="<%= render_js_tests_path %>" data-url="<%= render_js_tests_path %>" width="100%" height="600px">
        </iframe>
      </div>
    </section>
  </div>
</div>