<div class="page-content">
  <div id="tdd-process-obj">
      <!--<object data="/tdd/render_svg_image" type="image/svg+xml"></object>-->
      <%= link_to(raw('<i class="general foundicon-left-arrow"></i>&nbsp;Return To TDD Info'), tdd_index_path, class: 'button secondary tiny round') %>
      <br/>
        <div>
      <embed src="/tdd/render_svg_image" type="image/svg+xml" width="100%"/>
        </div>
    </div>
</div>