<div class="page-content">
  <div class="edit-form columns large-5">
  <div class="validation-errors">
    <%= @project.errors.full_messages.first if @project.errors.any? %>
  </div>
    <h3 class="title-pane"><i class="general foundicon-add-doc"></i> Project Details</h3>
  <%= form_for @project, url: {action: :create} do |f| %>
      <div class="edit-row">
        <%= f.label :title %>
        <%= f.text_field :title %>
      </div>
      <div class="edit-row">
        <%= f.label :description %>
        <%= f.text_field :description %>
      </div>
      <div class="edit-row">
        <%= f.label :owner %>
        <%= f.text_field :owner %>
      </div>
      <div class="edit-row">
        <%= f.label :start_date %>
        <%= f.text_field :start_date, class: 'datepicker' %>
      </div>
      <div class="edit-row">
        <%= f.label :end_date %>
        <%= f.text_field :start_date, class: 'datepicker' %>
      </div>
      <div class="edit-row">
        <%= f.submit 'Create', class: 'button tiny radius' %>
        <input id="cancel-edit" type="reset" value="Cancel" class="button tiny radius" />
      </div>
  <% end %>
</div>
    </div>