<h4><%= @user.name %></h4>
<div>
  <%= link_to 'Return to Users Page', :users_index %>
  <%= link_to 'Edit Details', edit_user_path %>
  <div class="form-row"><label>Email: </label><span><%= @user.email %> </span></div>
</div>