// Place all the styles related to the reporting controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
#chart-container{
  width: 100%;
  border: 1px solid #d9d9d9;
}
