// Place all the styles related to the story_board controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
$sb-card-color: #FCF0AD ;

h1{
  font-size: 18px;
}

#main-content{
  margin-left: 10px;
  margin-right: 10px;
}

#sbo-controls-container{
  margin: 2px;
}

#sbo-container{
  font-size: 0.8em;
  margin-top: 10px;
  width: 100%;

  > div{
    border: 1px solid #CCCCCC;
    background-color: #F5F5F5;
    border-radius: 3px;
    box-sizing: border-box;
    margin: 0;
    margin-left: 2px;
    margin-bottom: 2px;
    min-height: 300px;
    height:auto;
    float: left;
    padding-bottom: 5px;

  }

  .sbo-stage-col{
    width: 33%;
  }

  .sbo-edit-from {
    display: none;

    .edit-row{
      margin: 0;

      label{
        margin: 0;
        font-weight: bold;
        font-size: 0.9em;
      }

      select, input, textarea{
        margin: 0;
      }

      .custom.dropdown{
        margin: 0;
      }
    }
  }

  .edit-row{
    padding: 5px;
    position: relative;
  }
}

#sbo-controls-container{
  width: 100%;
}

#sbo-controls-container{
  border: 1px solid #cccccc;
  border-radius: 3px;
  margin-right: 4px;
  width: 99%;

  ul{
    list-style: none;
    margin: 0;
    box-sizing: border-box;
    padding: 5px;
    display: inline-block;
  }

  li{
    display: inline-block;

    a{
      margin: 0;
    }

    input{
      margin: 0;
    }
  }

  #sbo-main-stage-ctrls{
    text-align: right;
    float: right;
    margin-right: 10px;
  }
}

.sbo-stage{
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;

  li.sbo-stage-row{
    width: 98%;
    min-height: 50px;
    border: 1px solid grey;
    border-radius: 3px;
    //border-top: 5px solid blue;
    background-color: $sb-card-color;
    //padding: 5px;
    margin: 10px 1% 0 1% ;

    div.title-pt{
      position: relative;

      .sbo-info{
        padding: 10px;
        padding-top: 5px;
      }
    }

    div.more-info-pt{
      display: none;
      padding: 5px;
      padding-left: 10px;
    }

    .sbo-title{
      padding: 10px;
      display: block;
      font-weight: 700;
      //float: left;
      width: 100%;
    }

    .sbo-display-ctrs{
      position: relative;
      //float: left;
      width: 35%;
      min-width: 120px;
      left: 10px;
      right: 5px;
      //top: 10px;

      ul{
        list-style: none;
        margin: 0;
        padding: 0;
      }

      li{
        display: inline;
        border: none;
      }
    }

    .dropdown.button.small {
      padding-right: 3.8125em;
      vertical-align: top;
    }
  }

  li.linked-task{
    border: 5px solid red;
  }

  li.task{
    border-top: 5px solid grey;
  }

  li.userstory{
    border-top: 5px solid orange;
  }

  li.testtask{
    border-top: 5px solid blue;
  }
}

//jquery ui overwrites

.ui-widget{
  font-size: 0.7em;
}

//forms style
.sbo-form-controls{
  padding-left: 10px;
}

@media only screen and (max-width: 1008px) {
  .sbo-stage-col{
    min-width: 49.5%;
    width: 49.5%;
  }
}

@media only screen and (max-width: 770px) {
.sbo-stage-col{
  min-width: 100%;
  width: 100%;
}
  li.sbo-stage-row{
    width: 98%;
    min-width: 0;
  }

}