// Place all the styles related to the tdd controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
.tdd-info-tiles{
  li{
    p {
      height: 65px;
    }

    h5{
      vertical-align: top;
    }
  }

}

#tdd-process-obj{
  svg{
  margin-left: auto;
  margin-right: auto;
  }
}