// Place all the styles related to the user controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
#users-table{
  width: 50%;
  border: 1px solid black;
  border-collapse: collapse;


  td, th{
    border: 1px solid #000000;
    padding: 5px;
  }
}