<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]>
<html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8"/>

  <!-- Uncomment to make IE8 render like IE7 -->
  <!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <title><%= content_for?(:title) ? yield(:title) : "MAFT Management Application for TDD" %></title>
  <%= stylesheet_link_tag "foundation_styles", :media => "all"  %>
  <%= stylesheet_link_tag "application", :media => "all"  %>
  <%= stylesheet_link_tag "http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" %>
  <%= yield :head_section %>
  <%= javascript_include_tag "vendor/custom.modernizr" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="layout">
  <%= render :partial => 'menus/main_menu' %>
  <%= yield %>
  <div id="footer">
    <div class="row">
      <div class="small-6 large-centered columns">
        <ul id="footer-menu" class="inline-list">
          <li>Contact</li>
          <li>Terms and Conditions</li>
          <li><a href="https://bitbucket.org/jbelkasemi/maft/src" target="_blank"><i class="social foundicon-github"></i>&nbsp;Source Code</a></li>
        </ul>
      </div>
      <div class="row">
        <div class="small-5 large-centered columns">
          © 2013 <a href="mailto:jusef.belkasemi@gmail.com" target="_blank">Jusef Belkasemi</a>. All rights reserved.
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<%= yield :modal_dialogs %>
<%= javascript_include_tag "application" %>
<%= yield :javascript_section %>

</body>
</html>